@define-color text-color @theme_text_color;

@define-color main-color @theme_bg_color;

@define-color result-unselected @theme_unfocused_base_color;
@define-color result-unselected-text @theme_unfocused_text_color;
@define-color result-selected @theme_selected_bg_color;
@define-color result-selected-text @theme_text_color;

@define-color button-inactive @insensitive_fg_color;

@define-color selected-bg @theme_selected_bg_color;
@define-color accent-color shade(@theme_fg_color, 0.5);
@define-color box-outline-color @theme_bg_color;

window {
	padding: 0.7em;
 	background-color: @main-color;
 	opacity: 90%;
 	border-radius: 1em;
}


.screenshot-button {
	color: @button-inactive;
	margin-top: 1em;
	margin-right: 1em;
}

.screenshot-button:focus {
	color: @result-selected-text;
}

.clock {
	margin-top: 0.4em;
	font-size: 1.4em;
	color: @text-color;
	background-color: shade(@result-unselected, 0.94);
	border-radius: 0.2em;
}

.input-field {
	font-size: 1.6em;
	background-color: shade(@main-color, 0.8);
	min-width: 25em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	outline: @box-outline-color solid 0.02em;
	border-radius: 0.5em;
}

.result-box {
	background-image: none;
	background-color: @result-unselected;
	color: @result-unselected-text;
}

.result-box:hover {
	background-color: shade(@result-selected, 0.8);
	color: @result-selected-text;
	opacity: 100%;
}

.result-box:focus {
	transition: 0.03s linear;
	outline: 0.2em solid shade(@result-selected, 0.3);
	background-image: none;
	background-color: @result-selected;
	color: @result-selected-text;
}

.root {
	border-top: 0.1em solid @accent-color;
	border-bottom: 0.1em solid @accent-color;
	padding-bottom: 1em;
}
