

window {
	padding: 10px;
	border: 1px solid grey;
 	color: #62a0ea;
 	background-color: #3d3846;
}

entry {
	border: none;
}


.clock {
	font-size: 22px;
	color: whitesmoke;
}

.input_field {
	color: white;
	border: None;
	font-size: 25px;
	background-color: #3d3846;
	min-width: 800px;
}

.input_field selection {
  background-color: #d8d8d8;
  color: black;
}

.result_frame {
	color: white;
	background-color: #77767b;
	border-radius: 1px;
	padding: 2px;
}

.result_frame:focus {
	outline: 2px solid #d8d8d8;
}

.root {
	border-top: 1px solid #77767b;
	border-bottom: 1px solid #77767b;
}
