@define-color text-color @theme_text_color;

@define-color main-color @theme_bg_color;

@define-color result-unselected @theme_unfocused_base_color;
@define-color result-unselected-text @theme_unfocused_text_color;
@define-color result-selected @theme_selected_bg_color;
@define-color result-selected-text @theme_text_color;

@define-color button-inactive @insensitive_fg_color;

@define-color selected-bg @theme_selected_bg_color;
@define-color accent-color shade(@theme_fg_color, 0.5);
@define-color box-outline-color @theme_bg_color;

window {
	padding: 10px;
	border: 1px solid grey;
 	background-color: @main-color;
 	opacity: 90%;
 	border-radius: 20px;
}


.screenshot-button {
	color: @button-inactive;
	margin-top: 10px;
	margin-right: 10px;
}

.screenshot-button:focus {
	color: @result-selected-text;
}

.clock {
	margin-top: 10px;
	font-size: 22px;
	color: @text-color;
	background-color: shade(@result-unselected, 0.94);
	border-radius: 2px;
}

.input-field {
	font-size: 24px;
	background-color: shade(@main-color, 0.8);
	min-width: 800px;
	padding-top: 6px;
	padding-bottom: 6px;
	outline: @box-outline-color solid 2px;
	border-radius: 9px;
}

.result-box {
	background-image: none;
	background-color: @result-unselected;
	color: @result-unselected-text;
}

.result-box:hover {
	background-color: shade(@result-selected, 0.8);
	color: @result-selected-text;
	opacity: 100%;
}

.result-box:focus {
	transition: 0.03s linear;
	outline: 3px solid shade(@result-selected, 0.3);
	background-image: none;
	background-color: @result-selected;
	color: @result-selected-text;
}

.root {
	border-top: 1px solid @accent-color;
	border-bottom: 1px solid @accent-color;
	padding-bottom: 10px;
}
